* {
  box-sizing: border-box;
}



#about {
    background-color: orange;
    padding: 3rem;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}
.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 900px) {
    .column {
      width: 90%;
      display: block;
      margin-bottom: 20px;
      margin: 20px;
    }
}
.text {
    /* align-content: center;
    align-items: center; */
    background-color: red;
    display: block;
    margin: auto;
}
.about-text {
    text-align: center;
}

.logo {
  height: 20rem;
}
.section{
    padding-bottom: 5rem;
}
.section-center {
  width: 60vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* @media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
} */


