* {
    box-sizing: border-box;
}

.section {
    padding: 1em;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1em;
}
ol, ul, li {
    list-style: none;
    text-align: start;
}
a {
    text-decoration: none;
    pointer: cursor;
}
footer > p {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
    }
}